@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/Helvetica Neue LTW0697BlkCnObl.otf');
    src: url('../assets/fonts/Helvetica Neue LTW0697BlkCnObl.ttf');
}

@font-face {
    font-family: 'Sans Serif';
    src: url('../assets/fonts/SansSerifFLF.otf');
}

@font-face {
    font-family: 'Sans Serif Book';
    src: url('../assets/fonts/SansSerifBookFLF.otf');
}

@font-face {
    font-family: 'Sans Serif Book Italic';
    src: url('../assets/fonts/SansSerifBookFLF-Italic.otf');
}

@font-face {
    font-family: 'Sans Serif Bold';
    src: url('../assets/fonts/SansSerifBldFLF.otf');
}

@font-face {
    font-family: 'Sans Serif Bold Italic';
    src: url('../assets/fonts/SansSerifBldFLF-Italic.otf');
}