$primary-color: #ffd700;
$bg-color-1: #3d3f4f;
$bg-color-2: #292b36;
$bg-color-3: #24252b;
$bg-color-4: #1c1c1f;
$bg-color-light-2: #747475;
$bg-color-light-3: #4b4b50;
$bg-color-light-4: #3d3f4f;
$font-color: white;
$active: #ffd700;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$sidebar-width: 80px;