@import "../../utilities/variables";

.projectCard {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: $bg-color-2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .text-zone {
        margin-top: 20px;
    }
}