@import "../utilities/variables";

.contacts {
    width: 100%;
    min-height: 1000px;
    padding: 50px 5vw;
    background-color: $bg-color-4;
    opacity: 1;
    background-image: radial-gradient($bg-color-1 0.45px, $bg-color-4 0.45px);
    background-size: 9px 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

    .contact-form {
        width: 480px;
        margin: 20px auto;
        background-color: $bg-color-3;
        padding: 20px 30px;
        border-radius: 10px;

        textarea {
            background-color: $bg-color-2;
            color: white;
            margin-bottom: 20px;
        }

        input[type="text"],
        select.form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #ffffff;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 20px;
        color: white;
        }

        input[type="text"]:focus,
        select.form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        }

        button {
            
        }
    }

    
}