@import "../utilities/variables";

.home {
    width: 100%;
    min-height: 920px;
    padding: 26vh 5vw;
    background-color: $bg-color-1;

    .text-zone {

        .name {
            font-family: 'Sans Serif Bold';
        }
        h1 {
            line-height: 150%;
        }
        h2 {
            color: gray;
        }
        button {
            font-size: 24px;
            border-radius: 0px;
        }
    }
}