@import "../utilities/variables";

.home {
    width: 100%;
    min-height: 920px;
    padding: 25px 50px;
    background-color: $bg-color-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: $bg-color-2 0px -60px 36px -28px inset;
    opacity: 1;
    background-image: radial-gradient($bg-color-light-2 0.45px, $bg-color-1 0.45px);
    background-size: 9px 9px;

    .social-icons {
        a {
            margin-left: 10px;
        }
    }

    .content {
        margin-top: 10%;

        .text-zone {
            align-items: center;
            .name {
                font-family: 'Sans Serif Bold';
            }
            h1 {
                line-height: 150%;
            }
            h2 {
                color: gray;
            }
            button {
                font-size: 24px;
                border-radius: 0px;
            }
        }
        .banner-zone {
            position: relative;
            overflow: visible;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            .canvas {
                width: 100%;
                height: 100%;
                margin: auto;
            }
            @media screen and (max-width: $large) {
                display: none;
            }
        }

        @media screen and (max-width: $large) {
            margin-top: unset;
        }
    }

    @media screen and (max-width: $large) {
        align-items: flex-start;
        min-height: unset;
        padding: 100px 50px;
    }
}