@import "../utilities/variables";

.projects {
    width: 100%;
    min-height: 920px;
    background-color: $bg-color-3;
    padding: 50px 5vw;
    box-shadow: $bg-color-4 0px -60px 36px -28px inset;

    }